a:hover{
    font-size: 16pt;
}
body{
    font-family: 'Caesar Dressing', cursive;
    margin: 0;
}
h1{
    margin: 0;
}
header{
    background-image: url("../images/gloria_maria.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}
nav{
    align-items: center;
    background-color: aquamarine;
    display: flex;
    height: 50px;
    justify-content: space-around;
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;  /*Direção do flex. Muda para ao invés de linha coluna*/  
}
section img{   /*Atribui estilos apenas nas imagens dentro da section*/
    height: 250px;
}
section img:nth-child(3):hover{
    width: 100%;
}